N8N Workflow/CodeBasics Learner Support System.json
{
  "name": "CodeBasics Learner Support System",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify the following learner support query into one of three categories:\n\n1. \"course_access\" - Issues with logging in, course visibility, enrollment problems, or accessing course content\n2. \"refund_request\" - Requests for refunds, money back, or cancellations\n3. \"escalation\" - Billing disputes, legal complaints, threats, abusive language, or queries outside the scope of course access and refunds\n\nLearner ID: {{ $json.learnerId }}\nEmail: {{ $json.email }}\nLearner Query: {{ $json.query }}\n\nReturn your classification with a confidence score (0.0 to 1.0) and brief reasoning.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a query classification specialist for CodeBasics online learning platform. Analyze learner support queries and classify them accurately. Be conservative with confidence scores - if unsure, lower the confidence."
        }
      },
      "id": "4fe42edf-3392-4717-bdb4-84c8d3f01061",
      "name": "Supervisor Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1120,
        864
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"intent\": \"course_access\", \"confidence\": 0.95, \"reasoning\": \"User mentions inability to access a paid course\"}"
      },
      "id": "f67db451-bb24-4f5e-853b-191d76b5ff04",
      "name": "Supervisor Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -976,
        1088
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 3,
        "output": "={{ $json.output.confidence < 0.80 ? 2 : ($json.output.intent === \"course_access\" ? 0 : ($json.output.intent === \"refund_request\" ? 1 : 2)) }}"
      },
      "id": "2f20ea00-d371-433b-a788-5765e796ae1d",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -768,
        848
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Help resolve a course access issue for this learner:\n\nLearner ID: {{ $(\"Learner Support Form\").item.json.learnerId }}\nEmail: {{ $(\"Learner Support Form\").item.json.email }}\nQuery: {{ $(\"Learner Support Form\").item.json.query }}\n\nSteps:\n1. Use the Google Sheets Tool to look up the learner's account details using their learner ID\n2. Check their enrollment status, course visibility, and account status\n3. Identify if this is a login issue (wrong credentials, password reset) or visibility issue (course not showing)\n4. Look up the relevant FAQ answer from the FAQ_Knowledge_Base sheet\n5. Generate a personalized response that includes:\n   - Acknowledgment of their specific issue\n   - Account-specific context (e.g., \"I can see you're enrolled in...\")\n   - Step-by-step solution from the FAQ\n   - Offer to escalate if the solution doesn't work\n\nBe empathetic, clear, and specific.",
        "options": {
          "systemMessage": "You are an Access Specialist for CodeBasics. You have access to learner account data via Google Sheets. Use the Google Sheets Tool to retrieve learner information and provide personalized support. Always look up data before responding."
        }
      },
      "id": "11fee75c-057f-44cd-8758-a8c7d8c84ee2",
      "name": "Access Specialist Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        48,
        352
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "id": "3e3fe55d-8a2d-485b-991d-8ee5fc5bb80e",
      "name": "Gemini Model - Access",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        64,
        576
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "86VEtfD2PL1QBRWj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/16oq_LP0f67jxf98Fq-1ju4pD_EHxDnlpetRmIae92OY/edit?usp=drive_link",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Learner_Accounts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16oq_LP0f67jxf98Fq-1ju4pD_EHxDnlpetRmIae92OY/edit#gid=0"
        },
        "options": {}
      },
      "id": "1ff8f2c4-eec8-4623-845e-431784e31dd7",
      "name": "Google Sheets Tool",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        192,
        576
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q8LZ5Uc3WsK2Ww0J",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "learnerId",
              "value": "={{ $(\"Learner Support Form\").item.json.learnerId }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "email",
              "value": "={{ $(\"Learner Support Form\").item.json.email }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "query",
              "value": "={{ $(\"Learner Support Form\").item.json.query }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "intent",
              "value": "={{ $(\"Supervisor Agent\").item.json.output.intent }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "confidence",
              "value": "={{ $(\"Supervisor Agent\").item.json.output.confidence }}",
              "type": "number"
            },
            {
              "id": "6",
              "name": "status",
              "value": "resolved",
              "type": "string"
            },
            {
              "id": "7",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "8",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "edb0712b-532f-4e25-b09d-31ca745d9946",
      "name": "Format Access Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        464
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "e675a259-d790-486d-bbb2-194df1844b5b",
      "name": "Merge All Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        624,
        848
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Determine refund eligibility for this learner:\n\nLearner ID: {{ $(\"Manual Trigger\").item.json.learnerId }}\nEmail: {{ $(\"Manual Trigger\").item.json.email }}\nQuery: {{ $(\"Manual Trigger\").item.json.query }}\n\nSteps:\n1. Use the Google Sheets Tool to retrieve the learner's purchase_date and completion_percentage\n2. Use the Calculator to determine days since purchase (today minus purchase_date)\n3. Apply refund policy rules:\n   - ELIGIBLE if: purchased within 1 day \n   - NOT ELIGIBLE otherwise\n4. Return structured output with eligibility decision and all relevant data\n\nToday's date: {{ $now.toFormat(\"yyyy-MM-dd\") }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a Refund Eligibility Specialist for CodeBasics. Use the Google Sheets Tool to retrieve learner purchase data and Calculator to compute days since purchase. Apply the strict refund policy: eligible only if purchased within 1 day "
        }
      },
      "id": "0407f176-56ab-41e2-b130-e3c0a75d1cdd",
      "name": "Refund Eligibility Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -416,
        864
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "id": "0e6b951b-2fcd-47dc-bead-c5d252201211",
      "name": "Gemini Model - Refund",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -544,
        1088
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "86VEtfD2PL1QBRWj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/16oq_LP0f67jxf98Fq-1ju4pD_EHxDnlpetRmIae92OY/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Learner_Accounts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16oq_LP0f67jxf98Fq-1ju4pD_EHxDnlpetRmIae92OY/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "learner_id",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('learnerId', 'The learner ID to look up') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "90883716-fa37-420b-a541-3cbd2a2e59ed",
      "name": "Google Sheets Tool - Refund",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -416,
        1088
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q8LZ5Uc3WsK2Ww0J",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {},
      "id": "e46b3803-93dc-4e87-b918-e9a78b0a3acc",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -288,
        1088
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"eligible\": true, \"purchaseDate\": \"2024-01-14\", \"completionPercentage\": 15, \"daysSincePurchase\": 1, \"reasoning\": \"Purchased 1 day ago and completed 15% of course\"}"
      },
      "id": "e6d81f58-2d61-4f25-aff1-dc09a8405597",
      "name": "Refund Eligibility Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -160,
        1088
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a refund response based on eligibility:\n\nLearner Email: {{ $(\"Manual Trigger\").item.json.email }}\nEligible: {{ $json.output.eligible }}\nPurchase Date: {{ $json.output.purchaseDate }}\nCompletion: {{ $json.output.completionPercentage }}%\nDays Since Purchase: {{ $json.output.daysSincePurchase }}\n\nIf ELIGIBLE:\n- Confirm refund approval\n- Explain the refund will be processed within 5-7 business days\n- Thank them for trying CodeBasics\n\nIf NOT ELIGIBLE:\n- Politely explain the refund policy (1 day window, ≤20% completion)\n- Show their specific data (purchased X days ago, completed Y%)\n- Offer alternative support (course extension, additional resources)\n- Maintain empathetic and professional tone",
        "options": {
          "systemMessage": "You are a Refund Response Specialist for CodeBasics. Generate empathetic, clear responses based on refund eligibility. For approvals, be warm and helpful. For denials, be understanding but firm about policy, and offer alternatives."
        }
      },
      "id": "b5ea33b7-4890-4ba3-95d4-e9feb106f950",
      "name": "Refund Response Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        48,
        752
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "id": "40aaafc6-7ef5-46d5-a1ea-eef7fb72dccb",
      "name": "Gemini Model - Refund Response",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        128,
        976
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "86VEtfD2PL1QBRWj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "learnerId",
              "value": "={{ $(\"Learner Support Form\").item.json.learnerId }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "email",
              "value": "={{ $(\"Learner Support Form\").item.json.email }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "query",
              "value": "={{ $(\"Learner Support Form\").item.json.query }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "intent",
              "value": "={{ $(\"Supervisor Agent\").item.json.output.intent }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "confidence",
              "value": "={{ $(\"Supervisor Agent\").item.json.output.confidence }}",
              "type": "number"
            },
            {
              "id": "6",
              "name": "status",
              "value": "={{ $(\"Refund Eligibility Agent\").item.json.output.eligible ? \"approved\" : \"denied\" }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "8",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2c498337-b5dc-4beb-ba4d-1ea0e30e763e",
      "name": "Format Refund Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        864
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/185ffFre_tl-BlHFvdjHid7JbRf2V8albA54IB63Oe10/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/185ffFre_tl-BlHFvdjHid7JbRf2V8albA54IB63Oe10/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "learner_id",
              "displayName": "learner_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "escalation_reason",
              "displayName": "escalation_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "aeb9718b-69e5-4c28-b498-6c2105723e72",
      "name": "Log to Human Escalations",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        1152
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q8LZ5Uc3WsK2Ww0J",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "learner_id",
              "value": "={{ $(\"Learner Support Form\").item.json.learnerId }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "email",
              "value": "={{ $(\"Learner Support Form\").item.json.email }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "query",
              "value": "={{ $(\"Learner Support Form\").item.json.query }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "classified_intent",
              "value": "={{ $(\"Supervisor Agent\").item.json.output.intent }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "confidence",
              "value": "={{ $(\"Supervisor Agent\").item.json.output.confidence }}",
              "type": "number"
            },
            {
              "id": "7",
              "name": "escalation_reason",
              "value": "={{ $(\"Supervisor Agent\").item.json.output.confidence < 0.80 ? \"Low confidence classification\" : \"Requires human review\" }}",
              "type": "string"
            },
            {
              "id": "8",
              "name": "status",
              "value": "pending",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7061b071-3a68-4d01-9ee4-3af08fa39402",
      "name": "Format Escalation Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        1152
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1ce4CVWOQ0hWJbjT_YeVvVT65QdD4IKgN46HFsGCtbgw/edit?usp=drive_link",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ce4CVWOQ0hWJbjT_YeVvVT65QdD4IKgN46HFsGCtbgw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "learner_id": "={{ $json.learnerId }}",
            "email": "={{ $json.email }}",
            "query": "={{ $json.query }}",
            "intent": "={{ $json.intent }}",
            "confidence": "={{ $json.confidence }}",
            "status": "={{ $json.status }}",
            "response": "={{ $json.response }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "learner_id",
              "displayName": "learner_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "response",
              "displayName": "response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a701c7ab-5f06-431e-b3f3-e15ef6121eaa",
      "name": "Log to Query Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        864
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Q8LZ5Uc3WsK2Ww0J",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "output",
              "value": "={{ $json.response ?? \"Your query has been logged and will be reviewed by our team.\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3c3859f3-a73d-485e-8a76-f52c8e9d84db",
      "name": "Final Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        864
      ]
    },
    {
      "parameters": {
        "content": "Setup: Learner_Accounts, FAQ_Knowledge_Base, Query_Log, Human_Escalations sheets. Credentials: Google Gemini API, Google Sheets OAuth2",
        "height": 300,
        "width": 400,
        "color": 2
      },
      "id": "91716f92-67bb-4b24-a919-df0e2c56517e",
      "name": "Sticky Note a29d2673",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1424,
        80
      ]
    },
    {
      "parameters": {
        "content": "Step 1: Supervisor Agent classifies queries into course_access, refund_request, or escalation. Low confidence (<0.80) auto-escalates.",
        "height": 280,
        "width": 380,
        "color": 3
      },
      "id": "81546abe-867b-4e25-b216-bbe9207f64e0",
      "name": "Sticky Note 14088278",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -960,
        96
      ]
    },
    {
      "parameters": {
        "content": "Step 3: Access Specialist Agent looks up learner account, identifies issue type, retrieves FAQ answer, and generates personalized solution.",
        "height": 280,
        "width": 420,
        "color": 4
      },
      "id": "309c6dff-8a80-4012-93ca-c0a2c24dd3cf",
      "name": "Sticky Note 62e638e3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -512,
        96
      ]
    },
    {
      "parameters": {
        "content": "Step 4: Refund Eligibility Agent retrieves purchase data, calculates days since purchase, checks policy (<=1 day AND <=20% complete). Refund Response Agent provides approval or policy explanation.",
        "height": 280,
        "width": 720,
        "color": 5
      },
      "id": "b2720709-abe9-45fb-afda-a69e319e9b37",
      "name": "Sticky Note a4e1caa4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "Step 5: Human Escalation logs low confidence queries, billing disputes, legal complaints, and out-of-scope issues to Human_Escalations sheet.",
        "height": 280,
        "width": 420,
        "color": 6
      },
      "id": "93f1d8e2-e9d9-4404-8275-b65d9c557d67",
      "name": "Sticky Note 85eff0b3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1520,
        1248
      ]
    },
    {
      "parameters": {
        "content": "Step 6-7: All paths merge, log to Query_Log. Final response includes Learner ID, classified intent, resolution status, and response message.",
        "height": 280,
        "width": 720,
        "color": 7
      },
      "id": "6d335612-790e-4095-8fa4-d314ba7b411c",
      "name": "Sticky Note 6ae74292",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        1360
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "id": "57b2c8f7-02f0-4d43-a89b-87d6f10e938b",
      "name": "Gemini Model - Supervisor",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -1344,
        1376
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "86VEtfD2PL1QBRWj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "id": "1f444130-a6e7-4178-89d1-33a388bcd1a0",
      "name": "Gemini Model - Supervisor2",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -1104,
        1088
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "86VEtfD2PL1QBRWj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "id": "b9b96f64-6307-447e-8fe6-266469135322",
      "name": "Gemini Model - Supervisor3",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -1344,
        1584
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "86VEtfD2PL1QBRWj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "CodeBasics Support",
        "formDescription": "Submit your question and we will help you resolve it quickly.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Learner ID",
              "fieldName": "learnerId",
              "placeholder": "Enter your learner ID (e.g., L12345)",
              "requiredField": true
            },
            {
              "fieldLabel": "Email Address",
              "fieldType": "email",
              "fieldName": "email",
              "placeholder": "your.email@example.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Your Question",
              "fieldType": "textarea",
              "fieldName": "query",
              "placeholder": "Describe your issue in detail...",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "appendAttribution": true,
          "buttonLabel": "Submit Question",
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Thank you! Your question has been received and is being processed. You will receive a response shortly."
            }
          }
        }
      },
      "id": "674b1059-b26f-4e55-bd8f-875b803c109a",
      "name": "Learner Support Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -1344,
        864
      ],
      "webhookId": "33837f43-d7f2-4c4d-9840-c362eb1a2559"
    }
  ],
  "pinData": {},
  "connections": {
    "Supervisor Agent": {
      "main": [
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supervisor Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [
          {
            "node": "Access Specialist Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Refund Eligibility Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log to Human Escalations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Access Specialist Agent": {
      "main": [
        [
          {
            "node": "Format Access Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model - Access": {
      "ai_languageModel": [
        [
          {
            "node": "Access Specialist Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Tool": {
      "ai_tool": [
        [
          {
            "node": "Access Specialist Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Format Access Response": {
      "main": [
        [
          {
            "node": "Merge All Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Paths": {
      "main": [
        [
          {
            "node": "Log to Query Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refund Eligibility Agent": {
      "main": [
        [
          {
            "node": "Refund Response Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model - Refund": {
      "ai_languageModel": [
        [
          {
            "node": "Refund Eligibility Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Tool - Refund": {
      "ai_tool": [
        [
          {
            "node": "Refund Eligibility Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Refund Eligibility Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Refund Eligibility Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Refund Eligibility Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Refund Response Agent": {
      "main": [
        [
          {
            "node": "Format Refund Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model - Refund Response": {
      "ai_languageModel": [
        [
          {
            "node": "Refund Response Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Refund Response": {
      "main": [
        [
          {
            "node": "Merge All Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Log to Human Escalations": {
      "main": [
        [
          {
            "node": "Format Escalation Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Escalation Response": {
      "main": [
        [
          {
            "node": "Merge All Paths",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Log to Query Log": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model - Supervisor2": {
      "ai_languageModel": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Learner Support Form": {
      "main": [
        [
          {
            "node": "Supervisor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "513c8c6f-006e-487f-8beb-9f366e14f43d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf386280fe32b0e21069d958ed99c16315b4de644e649aabaf264c9da1ad964f"
  },
  "nodeGroups": [],
  "id": "KZRtXPAQoAzzK1Y9",
  "tags": []
}